body {
    height: 100%;
    width: 100%;
    background-color: rgb(222, 239, 231);
    color: black;
}

#signNowButton:hover,
#theme-button:hover {
    color: salmon;
}

/* unvisited link */
a:link {
    color: salmon;
}

/* visited link */

a:visited {
    color: salmon
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: #008CBA;
}

button:hover {
    color: salmon;
}

.header-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 90rem;
}

.header-item:nth-of-type(1) {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    padding: 3rem 3rem 0rem 1rem;
}

.header-item:nth-of-type(2) {
    font-family: 'Dancing Script', cursive;
    font-size: 2.3rem;
    text-align: left;
    margin-top: 7rem;
}

#header-img {
    margin: 7rem 5rem 6rem 3rem;
    max-width: 32rem;
    border-radius: 0.5rem;
}

.header-button {
    height: min-content;
    width: min-content;
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding: 0.1rem 1rem;
    font-size: 0.7rem;
    background-color: black;
    border: 1px solid salmon;
    border-radius: 0.1rem;
    color: white;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 22rem;
    right: 10rem;
}

#definitionOveropulation,
#theproblem {
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 9rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3rem;
}

#linkToTheProblem {
    margin-top: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.theproblem {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

#solution {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#educate {

    margin-top: 0rem;
    padding: 3rem;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.roundedBorderVideo {
    border-radius: 0.5rem;
    display: block;
    margin: 2rem auto;
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h3 {
    margin: 3rem;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}


a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}


.savedAnimals {
    font-size: 2rem;
    font-style: italic;
    color: darksalmon;
    list-style-type: circle;
}

#linkToStats {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: rem;
}

.statistics {
    margin-left: -2rem;
    display: flex;
    gap: 3rem;
    text-transform: uppercase;

}

#imagesRow {
    width: 25rem;
    height: 18rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-direction: row;
    margin: auto;

}

#imagesRow img {
    border-radius: 0.5rem;
}



.statistics img {
    margin: auto;
    max-width: 25rem;
    max-height: 18rem;
    margin-right: 5rem;
    border-radius: 0.5rem;
}


.statistics ul {
    height: auto;
    width: 31rem;
    margin: 0rem 7.5rem 0.6rem 8rem;
}

.statistics li {
    padding: 1.3rem;
}



.signNow {
    font-size: 2rem;
    margin: auto;
    margin-left: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8.7rem;
    clear: both;
    background-color: black;
    text-align: center;
    font-style: oblique;
    font-size: 0.9rem;
    border-top: 2px solid salmon;
}

footer p,
footer h4 {
    color: white;
}


footer h4:hover {
    color: salmon;

}

footer h4:active {
    color: #008CBA;

}

#subFacts {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

/*  Navbar */
.navbar {
    position: fixed;
    z-index: 1;
}

/* General style rule set for all items in ul */
.navbar ul {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    background-color: black;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1 rem;
    margin-top: 0px;
}

/* Style rule set for individual li */
.navbar ul li {
    list-style: none;
    color: white;
    float: right;
    margin: 1rem;
    margin-right: 4rem;
}

.navbar ul li select {
    background-color: rgb(222, 239, 231);
    border: 1px solid salmon;
}

li {
    display: flex;
    flex-direction: row;
}

/* Style rule set for individual li link */
.navbar ul li a,
.navbar label {
    display: block;
    font-family: Arial;
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px;
    list-style: none;
}


/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
    color: salmon;
}


/* Add style to button */
#theme-button,
#signNowButton {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border: solid salmon;
    border-width: 1px;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    margin-right: 3rem;
    margin-left: 3rem;
    cursor: pointer;
}



/* Customize Dark Mode Theme */
.dark-mode {
    background-color: black;
    color: white;
}


.petition-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 3rem;
}

.signatures {
    font-size: 1.1rem;
    margin-right: 2rem;
    padding-right: 0.6rem;
}

.error {
    border-style: solid;
    border-width: 2px;
    border-color: red;
    background: pink;
}

#sign-petition {
    margin-bottom: 1.3rem;
    margin-left: 3.1rem;
}

#signPetitionForm {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: baseline;
}

#name,
#hometown,
#email {
    margin-right: 2rem;
    font-size: 1rem;
    background-color: rgb(222, 239, 231);
}

#linkToRecomendations {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
}

.booksSection {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4.4rem;

}

#bookOne,
#bookTwo,
#bookThree {
    margin: 4rem;
    font-size: 1.3rem;
    padding: 2.5rem;
    width: min-content;
    border: 3px solid salmon;
    border-radius: 0.5rem;
}


#title1,
#title2,
#title3 {
    font-size: 3rem;
}

#news {
    margin: 2.8rem 1.8rem 13rem 1.6rem;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
}

#news p,
#news a,
#news h3 {
    margin: 1.3rem;
}

#news a {
    font-style: italic;
    font-size: 1rem;
}

#news p {
    font-style: italic;
    font-size: 1.6rem;
}